.grid {
  display: grid;
  gap: 12px;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  align-items: center;
  margin-bottom: 16px;
}

@media (max-width: 1000px) {
  .grid { grid-template-columns: 1fr 1fr; }
}
